<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="goodee.gdj58.booking_c.mapper.minsong.CompanyMapper">
	<insert id="insertReviewComment" parameterType="goodee.gdj58.booking_c.vo.ReviewComment">
		INSERT INTO review_comment(booking_no, review_comment_memo, createdate)
		VALUES(#{bookingNo}
				, #{reviewCommentMemo}
				, CURDATE())
	</insert>
	
	<select id="selectReviewCommentBookingNoList" parameterType="String" resultType="Integer">
		SELECT rc.booking_no bookingNo
		FROM review_comment rc INNER JOIN booking b ON rc.booking_no = b.booking_no
		WHERE b.booking_company_id = #{companyId}
	</select>
	
	<select id="selectReviewCommentList" parameterType="String" resultType="goodee.gdj58.booking_c.vo.ReviewComment">
		SELECT rc.booking_no bookingNo
				, rc.review_comment_memo reviewCommentMemo
				, rc.createdate
		FROM review_comment rc INNER JOIN booking b ON rc.booking_no = b.booking_no
		WHERE b.booking_company_id = #{companyId}
	</select>
	
	<select id="countReviewList" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM review r INNER JOIN booking b ON r.booking_no = b.booking_no
		WHERE b.booking_company_id = #{companyId}
	</select>
	
	<select id="selectReviewImgList" parameterType="String" resultType="goodee.gdj58.booking_c.vo.ReviewImg">
		SELECT ri.booking_no bookingNo
				, ri.review_img_save_name reviewImgSaveName
				, ri.review_img_origin_name reviewImgOriginName
		FROM review r 
			INNER JOIN review_img ri ON r.booking_no = ri.booking_no
			INNER JOIN booking b ON ri.booking_no = b.booking_no
		WHERE b.booking_company_id = #{companyId}
	</select>

	<select id="selectReviewList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT ROW_NUMBER() OVER (ORDER BY r.createdate DESC) rowNum
				, r.booking_no bookingNo
				, ci.customer_img_save_name customerImgSaveName
				, c.customer_nickname customerNickname
				, CONCAT(SUBSTR(c.customer_id, 1, 3), '***') customerId
				, SUBSTR(b.booking_date, 1, 10) bookingDate
				, <![CDATA[(SELECT COUNT(booking_date) FROM booking WHERE booking_state = '방문완료' AND booking_date <= b.booking_date AND booking_company_id = #{companyId})]]> visitCount
				, r.createdate createdate
				, r.star_rating starRating
				, r.review_memo reviewMemo
		FROM review r 
			INNER JOIN booking b ON r.booking_no = b.booking_no
			INNER JOIN customer c ON b.customer_id = c.customer_id
			INNER JOIN customer_img ci ON c.customer_id = ci.customer_id
		WHERE b.booking_company_id = #{companyId}
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<select id="selectDayOfOffday" parameterType="String" resultType="java.util.Map">
		SELECT DAYOFWEEK(booking_company_offday_date) companyOffdayDay
				, booking_company_offday_date companyOffdayDate
		FROM booking_company_offday
		WHERE booking_company_offday_memo = '정기휴무' AND booking_company_id = #{companyId}
	</select>

	<delete id="deleteOffday" parameterType="java.util.Map">
		DELETE 
		FROM booking_company_offday
		WHERE booking_company_id = #{companyId} 
				AND booking_company_offday_date = #{offdayDate}
				<if test="dayNum != 0">
					AND booking_company_offday_memo = '정기휴무'
				</if>
	</delete>

	<select id="countOffday" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*)
		FROM booking_company_offday
		WHERE booking_company_id = #{companyId} AND booking_company_offday_date = #{offdayDate}
	</select>

	<update id="updateCompanyDetail" parameterType="goodee.gdj58.booking_c.vo.CompanyDetail">
		UPDATE booking_company_detail
		SET booking_company_opentime = #{openTime}
				, booking_company_closetime = #{closeTime}
				, booking_company_addition_service = #{additionService}
		WHERE booking_company_id = #{companyId}
	</update>

	<select id="selectBookingDate" parameterType="String" resultType="String">
		SELECT SUBSTR(booking_date, 1, 10) bookingDate	<!-- 여기서 자르면 jsp로 넘어갈 때 - 계산해서 숫자로 넘어감 -->
		<!-- 
		SELECT booking_date bookingDate
		 -->
		FROM booking
		WHERE booking_company_id = #{companyId} AND booking_date >= CURDATE()
	</select>

	<select id="selectCompanyDetail" parameterType="String" resultType="goodee.gdj58.booking_c.vo.CompanyDetail">
		SELECT booking_company_type_no companyTypeNo
				, booking_company_opentime openTime
				, booking_company_closetime closeTime
				, booking_company_addition_service additionService
		FROM booking_company_detail
		WHERE booking_company_id = #{companyId}
	</select>

	<insert id="insertCompanyOffdayOfWeek" parameterType="java.util.Map">
		INSERT INTO booking_company_offday(booking_company_id
												, booking_company_offday_date
												, booking_company_offday_memo)
		VALUES (#{companyId}
					, ADDDATE(#{dayOfWeek}, INTERVAL #{cnt} DAY)
					, '정기휴무')
	</insert>
	
	<select id="selectCompanyOffdayOfWeek" parameterType="int" resultType="String">
		WITH RECURSIVE CTE  AS (
		        SELECT CURDATE() AS DT, dayofweek(CURDATE()) AS num
				  FROM DUAL
		        UNION ALL
		        SELECT DATE_ADD(DT, INTERVAL 1 DAY), dayofweek(DATE_ADD(DT, INTERVAL 1 DAY))
				  FROM CTE
				<![CDATA[WHERE DT < ADDDATE(CURDATE(), INTERVAL 6 DAY)]]>
		)
		SELECT DT date FROM CTE
		WHERE num = #{dayNo}
	</select>
	

	<insert id="insertCompanyOffday" parameterType="goodee.gdj58.booking_c.vo.CompanyOffday">
		INSERT INTO booking_company_offday( booking_company_id
											, booking_company_offday_date
											, booking_company_offday_memo
											)
		VALUES( #{companyId}
				, #{companyOffdayDate}
				, #{companyOffdayMemo}
				)
	</insert>

	<select id="selectCompanyOffdayList" parameterType="String" resultType="goodee.gdj58.booking_c.vo.CompanyOffday">
		SELECT booking_company_id companyId
				, booking_company_offday_date companyOffdayDate
				, booking_company_offday_memo companyOffdayMemo
		FROM booking_company_offday
		WHERE booking_company_id = #{companyId}
	</select>

<!-- 
	<select id="selectCompanyTypeContent" parameterType="int" resultType="String">
		SELECT booking_company_type_content
		FROM booking_company_type
		WHERE booking_company_type_no = #{companyTypeNo};
	</select>
 -->

	<select id="selectCompanyTypeList" resultType="goodee.gdj58.booking_c.vo.CompanyType">
		SELECT booking_company_type_no companyTypeNo
				, booking_company_type_content companyTypeContent
				, parent_no parentNo
				, group_no groupNo
				, sequence
				, depth
		FROM booking_company_type
	</select>
	
	<insert id="insertCompanyDetail" parameterType="goodee.gdj58.booking_c.vo.CompanyDetail">
		INSERT INTO booking_company_detail(
									booking_company_id
									, booking_company_type_no
									, booking_company_opentime
									, booking_company_closetime
									, booking_company_addition_service
									)
		VALUES ( #{companyId}
			, #{companyTypeNo}
			, #{openTime}
			, #{closeTime}
			, #{additionService}
			)
	</insert>
</mapper>